@using rskpBlazor.Data.Models
@using rskpBlazor.Services

@*@page "/main"*@
@inject NavigationManager _navigationManager
<!DOCTYPE html>
<html>


<body>
    <header>
        

        <section class="about-us py-5 " id="about-us">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class='text-success'>Добро пожаловать в Health Cradle!</h1>
                        
                        <hr>
                        <big><p>В настоящее время современное оборудование и комфортабельное помещение позволяют оказывать все виды лечебно-диагностической помощи на основе новейших медицинских технологий.<br> В поликлинике работают врачи многих специальностей, среди них доктора и кандидаты медицинских наук, врачи с высшей квалификационной категорией. Компетентность, индивидуальный подход к каждой проблеме, запатентованные авторские уникальные методики лечения, разработанные врачами центра – залог успеха и популярности клиники. Применение новейшего оборудования и передовых технологий позволяют проводить диагностику и лечение современными способами, в соответствии с принятыми мировыми стандартами.</p></big>
                        <a href="/MakeAppointment" class="btn btn-success"> Записаться на прием</a>

                    </div>

                    <div class="col-md-6">
                        <img src="/Images/hospital.png" alt="">
                    </div>
                </div>
            </div>
        </section>


    </header>

    
</body>



</html>

@code {


}
