@using rskpBlazor.Data.Models
@using rskpBlazor.Services
@inject NavigationManager _navigationManager

<h1>Список Медкарт</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>ФИО пациента</th>
        <th>Дата начала</th>
    </tr>
    </thead>
    <tbody>
    @if (medicalFiles != null)
    {
       @foreach (var medicalFile in medicalFiles)
      
        {
            <tr  @onclick="()=>toItem(medicalFile)">
                <td>@medicalFile.Id</td>
                <td>@medicalFile.Patient</td>
                <td>@medicalFile.StartDate</td>
            </tr>
        }
    }
    </tbody>
</table>


@code {
     private List<MedicalFile>? medicalFiles;
    [Inject]
    private IMedicalFileProvider medicalFilesProvider { get; set; }
    protected override async Task OnInitializedAsync()
    {
        medicalFiles = await medicalFilesProvider.GetAll();
    }
    public void toItem(MedicalFile medicalFile)
    {
        _navigationManager.NavigateTo($"/MedicalFile/{medicalFile.Id}");
    }

}
