@page "/about"
@inject NavigationManager _navigationManager
<!DOCTYPE html>
<html>



<body>
    <header>
        


    
        <section class="about-us py-5 " id="about-us">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class='text-success'>О нас</h1>
                        
                        <hr>
                       <i>Health Cradle</i> - одно из лучших лечебно-профилактических учреждений Москвы. Клиника была организована в первой половине 20 века, в Швейцарии, как лечебное учреждение, осуществляющее медицинскую помощь писателям, состоящих в национальном фонде писателей Швейцарии и их семьям.<br><br>
       
       Уже к началу 21 века клиника открыла свои филиалы по всему миру и к 2010 году открыла первое отделение в России, которое уже вошло в топы местных рейтингов.

                    </div>
                    <div class="col-md-6">
                        <img src="/Images/hospital.png" alt="">
                    </div>
                </div>
            </div>
        </section>

    
    </header>

</body>
</html>

@code {

}
