@page "/Contacts"
<!DOCTYPE html>
<html>


<style>
    li {

        list-style-position: inside;


    }

    li#addr {

        list-style-image: url("/Images/addr.png")
    }

    li#time {

        list-style-image: url("/Images/time.png")
    }

    li#tel {

        list-style-image: url("/Images/tel.png")
    }

    li#mail {

        list-style-image: url("/Images/mail.png")
    }

</style>

<body>
    <header>
        

            

                <section class="about-us py-5 " id="about-us">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                      <big><ul align="left">
                          <h1 class='text-success'>Наши контакты</h1>

                            <hr>
            <li id="addr">125319, Россия, Москва, ул 1-я Аэропортовская 6с6</li>
            <li id="time">Время работы: Пн–Сб: 8:00–21:00, Вс: 9:00–15:00</li>
            <li id="tel">Единый многоканальный: 8 (499) 999-99-99</li>
            <li id="mail">Email: health-cradle-clinic.ru</li>
                           </ul></big>

                    </div>
                    <div class="col-md-6">
                        <img src="pic/hospital.png" alt="">
                    </div>
                </div>
            </div>
        </section>

    


    </header>
</body>
</html>

@code {

}
